
*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
	
}
header{	
	background-color: black;
	color: rgb(111, 191, 238);
	
}
.website-header{
	padding: 20px;
	height: 100px;
	display: flex;
	flex-wrap: wrap;
}
.website-header img{
	float: left;
	width: 50px;
	height: 50px;	
	margin: 0 30px;
}
.website-header h1{
	margin:auto;
	text-align: center;
}
.social-icons{
	text-align: right;
	flex-grow: 1;
}
.social-icons i{
	margin: 0 7px;
	cursor: pointer;
}




#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }


body{
    min-height: 100;
    background: url(Contact\ us\ background\ video.mp4);
    background-size: cover;
    justify-content:center;
    align-items: center;
}


.newsletter{
    background: #5a5959;
    margin: 0 auto;
    text-align: center;
    max-width: 330px;
    padding: 50px 30px;
    border-radius: 5px;
    color:darkblue;
}

.newsletter hr{
    width: 70x;
    height: 3px;
    margin: 30px auto;
    border: 0;
    background: rgba(248, 242, 242, 0.5);

}

.newsletter p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(5, 5, 5, 0.8);
    margin-bottom: 30px;
}
.newsletter input{
    border-radius: 3px;
    background-color: rgb(181, 234, 238);
    width: 100%;
    height: 55px;
    border: 0px;
    padding: 0 20px;
    color: rgb(10, 6, 245);
    margin-bottom: 36px;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;

}
::placeholder{
    color: rgb(40, 20, 220);
}
.newsletter button{
    border: px solid rgb(17, 17, 17);
    border-radius: 3px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    padding: 0px 28px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 16px;
}
.newsletter button:hover{
    background-color: #4dabf7;
    border-color: #01dbf8;
}